[Unit]
Description=DRP-AI Demo
#After=dbus.service multi-user.target serial-getty@.service

[Service]
Environment=PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin
Environment=LD_LIBRARY_PATH=/usr/lib:/usr/local/lib
#ExecStartPre=/bin/sleep 1
ExecStart=/home/root/drpai_demo.sh
ExecStop=/usr/bin/killall drpai_demo.sh sample_app_tinyyolov2_cam_hdmi
Type=simple

[Install]
WantedBy=multi-user.target
